<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aidltestmain">

    <!--&lt;!&ndash; 声明权限，一般来说，要声明权限的级别，否则在aidl调用时会出现一个bug：先安装client端，后安装service端会导致client端无法打开 &ndash;&gt;
    <permission android:name="com.example.aidltestmain"
        android:protectionLevel="signature" />
    &lt;!&ndash; 声明使用指定的权限 &ndash;&gt;
    <uses-permission android:name="com.example.aidltestmain" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Test2Service">
            <intent-filter>
                <action android:name="com.main.mainapplication.intent.action.FORURL" />
            </intent-filter>
        </service>

        <activity
            android:name=".CommonWebViewActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:process="com.webView_process" />
    </application>

</manifest>