<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <application>
        <activity
            android:process=":login"
            android:theme="@style/login_AppTheme"
            android:label="login"
            android:name=".LoginActivity"/>
        <activity
            android:process=":login"
            android:name=".RegisterActivity" />
    </application>

</manifest>